@import "tailwindcss";

:root {
  --background: #ffffe0; /* #f1f1f1; #ffffff */
  --foreground: #4f4f4f; /* #39bec3; #225a63*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-secondary {
  background: #f3f4f6;
  color: #111;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #e5e7eb;
}

.form-section label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}
